<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EcoPonto</title>
  <link rel="icon" type="image/x-icon" href="../static/assets/logo2.png">
  <link rel="stylesheet" href="style/Inicio.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mobile-warning">
        Esta aplicação está disponível apenas para telas maiores que 1024px.
    </div>  
    
      <header>
        <a class="logo" href="Inicio.html">
          <img src="./assets/logo.png" alt="Logotipo">
        </a>
        <div class="back">
            <div>
                <img src="./assets/Login.png" alt="Voltar">
            </div>
          <a class="back-link" href="Cadastro.html">Cadastre um ponto de coleta</a>
        </div>
      </header>

  <main class="hero">
    <div class="text-content">
      <h1>Seu marketplace de coleta de resíduos.</h1>
      <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
      <a href="Consulta.html" class="search-btn">
        <span class="icon">
          <img src="assets/buscar.png" alt="Busca"/>
        </span>
        <span class="text">Pesquisar pontos de coleta</span>
      </a>      
    </div>
    <div class="image-content">
      <img src="assets/background.png" alt="Pessoas reciclando" />
    </div>
  </main>
</body>
</html>